################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TemplateTPCorto/FileContentIndex/09974d52-927e-49fa-a80a-f66e6598678d.vsidx
/.vs/TemplateTPCorto/FileContentIndex/2defc556-6346-4a70-94ca-ae3c6b43bf96.vsidx
